<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
	<link rel="stylesheet" th:href="@{/css/style.css}" />
 	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
		crossorigin="anonymous">
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
		<div class="container">
		<header
			class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
			<a href="/"
				class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
				<img src="/img/logo.png" style="width: 75px; height: 75px;">
			</a>

			<ul
				class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
				<li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
				<li><a href="#" class="nav-link px-2 link-dark">인바디테스트</a></li>
				<li><a href="#" class="nav-link px-2 link-dark">식단</a></li>
				<li><a href="#" class="nav-link px-2 link-dark">게시판</a></li>
				<li><a href="#" class="nav-link px-2 link-dark">마이페이지</a></li>
			</ul>

			<div class="col-md-3 text-end">
				<a class="btn btn-outline-primary me-2" th:href="@{/account/loginForm}">로그인</a>
				<a class="btn btn-primary" th:href="@{/account/registerForm}">회원가입</a>
			</div>
		</header>
		<section layout:fragment="content"></section>	
	</div>

</body>
</html>