<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bodyfit.bodyfit.mapper.BoardMapper">

	<update id="updateBoard" parameterType="BoardDTO">
		UPDATE 
				tbl_board 
		SET
				title=#{title},
				content=#{content},
				update_date=now()
				where bno = #{bno}
	</update>

	<delete id="deleteBoard">
		delete from tbl_board where bno = #{bno}
	</delete>

	<insert id="insertBoard" parameterType="BoardDTO">
		insert into tbl_board (board_type,title,content,writer,reg_date,like_cnt, dislike_cnt, hidden_yn)
		values (#{boardType},#{title},#{content},#{writer},now(),0, 0, 'N')
	</insert>

	<select id="selectBoardDetail" resultType="BoardDTO">
		select * from tbl_board where bno = #{bno}
	</select>

	<update id="updateViewCount">
		update tbl_board set view_count = view_count + 1
		where bno = #{bno}
	</update>

	<select id="selectBoardTotalCount" parameterType="BoardDTO" resultType="int">
		SELECT 
				count(*) 
		FROM 	
				tbl_board
		WHERE
				1=1
				<include refid="mappers.commonMapper.search" />
	</select>

	<select id="selectBoardList" parameterType="BoardDTO" resultType="BoardDTO">
		SELECT 
				* 
		FROM 
				tbl_board 
		WHERE
				1=1
				<include refid="mappers.commonMapper.search" />
		ORDER BY 
				bno DESC 
				<include refid="mappers.commonMapper.paging" />
	</select>


</mapper>