<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bodyfit.bodyfit.mapper.MemberMapper">
	<sql id="memberColumns">
		  email
		, nickname
		, password
		, reg_date
		, update_date
		, last_login_date
		, login_cnt
		, enabled
		, levels
	</sql>
	
	<insert id="insertMember" parameterType="UserDto">
		INSERT INTO tbl_member (
				<include refid="memberColumns" />
		)VALUES(
				  #{email}
				, #{nickname}
				, #{password}
				, NOW()
				, NOW()
				, NOW()
				, 0
				, 'Y'
				, 'ROLE_USER'
		)	
	</insert>
	
	<select id="selectMemberDetail" parameterType="string" resultType="UserDto">
		SELECT
			<include refid="memberColumns" />
		FROM
			tbl_member
		WHERE
			email = #{email}
	</select>
	
	<update id="updateMember" parameterType="UserDto">
		UPDATE tbl_member
		SET
				  update_date = NOW()
				, nickname = #{nickname}
				, password = #{password}
				, enabled = #{enabled}
				, levels = #{levels}
		WHERE
				email = #{email}
	</update>
	
	<update id="deleteMember" parameterType="string">
		UPDATE tbl_member
		SET
				  enabled = 'N'
				, update_date = NOW()
		WHERE
				email = #{email}
	</update>
	
	<select id="selectMemberList" parameterType="UserDto" resultType="UserDto">
		SELECT
				<include refid="memberColumns" />
		FROM
				tbl_member
		ORDER BY
				reg_date DESC
	</select>
	
	<select id="selectMemberTotalCount" parameterType="UserDto" resultType="int">
		SELECT
				COUNT(*)
		FROM
				tbl_member
		WHERE 
				enabled = 'Y'
	</select>
	
	<select id="login"  parameterType="UserDto" resultType="boolean">
		SELECT count(*)
		FROM tbl_member
		WHERE email=#{email} AND password =#{password}
	</select>
	
	<select id = "idCheck" resultType="int">
        select count(*) from tbl_member
     	 where email = #{email}
    </select>

</mapper>