<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">
<head>
<!-- 필요한 CSS, script 추가 영역 -->
</head>
<th:block layout:fragment="css">
<link th:href="@{/css/board.css}" rel="stylesheet">
</th:block>
<th:block layout:fragment="title">
	<title>게시판</title>
</th:block>

<section layout:fragment="content">
	<div class="container" style="padding-top: 7rem;">
		<div class="container-fluid">
		<div style="padding-bottom:1rem;">
			<p>게시판 > 
			<span style="color:#f4623a;" th:if="${params.boardType == 'notice'}" th:text="공지사항"></span> 
			<span style="color:#f4623a;" th:if="${params.boardType == 'community'}" th:text="자유게시판"></span>
			> 글 상세보기</p>
		</div>
			<form th:object="${board}" id="dataForm" >
				<input type="hidden" th:if="*{bno != null and bno > 0}" th:field="*{bno}" />
				<div class="mb-3">
					<label for="title" class="form-label">제목</label> <input
						th:field="*{title}" type="text" class="form-control" name="title"
						id="title" placeholder="" readonly>
				</div>
				<div class="mb-3">
					<label for="writer" class="form-label">작성자</label> <input
						th:field="*{writer}" type="text" class="form-control"
						name="writer" id="writer" placeholder="" readonly>
				</div>
				<div class="mb-3">
					<label for="writer" class="form-label">등록일</label>
					<p th:text="*{#temporals.format(regDate, 'yyyy-MM-dd HH:mm')}"></p>
				</div>
				<div class="mb-3">
					<label for="content" class="form-label">내용</label>
					<textarea th:field="*{content}" class="form-control" name="content"
						id="content" rows="3" readonly></textarea>
				</div>
				<div class="d-grid gap-2 d-md-flex justify-content-md-end" th:object="${params}">
				
					<a th:if="${params.boardType == 'community'}" th:href="|@{/board/listCommunity}*{makeQueryString(currentPageNo)}&board_type=${params.boardType}|" class="btn btn-warning"
						type="button">이전</a>
					<a th:if="${params.boardType == 'notice'}" th:href="|@{/board/listNotice}*{makeQueryString(currentPageNo)}&board_type=${params.boardType}|" class="btn btn-warning"
						type="button">이전</a>
						<a th:if="${loginUser.nickname} == ${board.writer}"  class="btn btn-primary" 
						th:href="|@{/board/boardUpdate}*{makeQueryString(currentPageNo)}&bno=${board.bno}&boardType=${board.boardType}">수정</a>
						<button th:if="${loginUser.nickname} == ${board.writer}" type="button" class="btn btn-secondary" 
						th:onclick="deleteBoard([[ ${board.bno} ]],[[ ${board.boardType} ]],[[ *{makeQueryString(currentPageNo)} ]] )">삭제</button>
					</th:if>
				</div>
			</form>
			<div class="text-center">
			<form id="likeForm">
				<button onclick='count("like")' id="likeBtn" type="button" class="btn btn-primary" th:value="${board.likeCnt}"><i class='fas fa-thumbs-up mx-1'></i></button>
				<button onclick='count("dislike")' id="dislikeBtn" type="button" class="btn btn-secondary" th:value="${board.dislikeCnt}"><i class='fas fa-thumbs-down mx-1'></i></button>
			</form>
			</div>
		</div>
	</div>
</section>
<th:block layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/
			function count(type) {
				let likeNumber = $("#likeBtn").val();
				let dislikeNumber = $('#dislikeBtn').val();
				
				if(type==='like'){
					likeNumber= parseInt(likeNumber) + 1;
					$("#likeBtn").val(likeNumber);	   

				}else if(type==='dislike'){
					dislikeNumber= parseInt(dislikeNumber) + 1;
					$("#dislikeBtn").val(dislikeNumber);
				}
			}
			function deleteBoard(bno, boardType, queryString) {
				if (confirm(bno + "번 게시글을 삭제할까요?")) {
					var uri = /*[[ @{/board/boardDelete} ]]*/null;
					var html = "";

					html += '<form name="dataForm" action="'+uri+'" method="post">';
					html += '<input type="hidden" name="bno" value="'+bno+'" />';
					html += '<input type="hidden" name="boardType" value="'+boardType+'" />';
					/*[- 쿼리 스트링을 오브젝트 형태로 변환 -]*/
					queryString = new URLSearchParams(queryString);
					queryString.forEach(function(value, key) {
						if (isEmpty(value) == false) {
							html += '<input type="hidden" name="' + key + '" value="' + value + '" />';
						}
					});
					html += '</form>';
					$("body").append(html);
					$("form[name=dataForm]").submit();
				}
			}
			/*[- end of function -]*/

			/*]]>*/
		</script>
	</th:block>
</html>