<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="member/fragments/header :: main-head"> </head>
<link href="/css/bootstrap-5.1.0-examples/signin.css" rel="stylesheet">
<title>LOGIN</title>
<body class="text-center">
	<main class="form-signin">
		<form>
			<img class="mb-4" src="/img/logo.png" alt="" width="75" height="75">
			<h1 class="h3 mb-3 fw-normal">Please Sign In</h1>

			<div class="form-floating">
				<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"> 
				<label for="floatingInput">Email address</label>
			</div>
			<div class="form-floating">
				<input type="password" class="form-control" id="floatingPassword" placeholder="Password"> 
				<label for="floatingPassword">Password</label>
			</div>
			<button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
			<button class="w-100 btn btn-lg btn-success mt-1" type="submit">Naver Login</button>
			<p class="mt-5 mb-3 text-muted">© 2017–2021</p>
		</form>
	</main>
</body>
</html>