<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/layout}">
<head>
<!-- 필요한 CSS, script 추가 영역 -->
</head>
<th:block layout:fragment="title">
	<title>My Page</title>
</th:block>

<section layout:fragment="content">
	<div class="container-fluid">
		<div class="page-wrapper">
			<div class="page-breadcrumb">
				<div class="row align-items-center">
					<div class="col-md-6 col-8 align-self-center">
						<h1 class="page-title mb-5  p-0">마이페이지</h1>

					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<div class="container-fluid">
				<div class="col-md-12 col-lg-8">
					<div class="col">
						<h3>계정 정보</h3>
						<form class="mb-5" action="">
							<div class="mb-3 row">
								<label for="email" class="col-sm-2 col-form-label">이메일</label>
								<div class="col-sm-10">
									<input type="text" readonly class="form-control-plaintext"
										id="email" value="email@example.com">
								</div>
							</div>
							<div class="mb-3 row">
								<label for="nickname" class="col-sm-2 col-form-label">닉네임</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="nickname">
								</div>
							</div>
							<div class="mb-3 row">
								<label for="password" class="col-sm-2 col-form-label">비밀번호</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" id="password">
								</div>
							</div>
							<div class="d-grid gap-2 d-md-flex justify-content-md-end">
								<button class="btn btn-lg btn-primary me-md-2" type="button">수정</button>
								<button class="btn btn-lg btn-primary" type="button">탈퇴</button>
							</div>
						</form>

						<h3>신체 정보</h3>
						<form class="mt-3">
							<div class="mb-3 row">
								<label for="nickname" class="col-sm-2 col-form-label">키</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="nickname">
								</div>
							</div>
							<div class="mb-3 row">
								<label for="password" class="col-sm-2 col-form-label">체중</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" id="password">
								</div>
							</div>
							<div class="d-grid gap-2 d-md-flex justify-content-md-end">
								<button class="btn btn-lg btn-primary" type="button">수정</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</html>