.dropdown-menu {
  position: static;
  display: block;
  width: auto;
  margin: 4rem auto;
}
.dropdown-item {
  border-radius: .25rem;
}

.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}