<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">
<link th:href="@{/css/signin.css}"
	rel="stylesheet">
<link th:href="@{/css/style.css}"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
	crossorigin="anonymous"></script>
<title>LOGIN</title>
</head>
<body class="text-center">
	<main class="form-signin">
		<form th:action="@{/account/login}" method="POST">
			<a class="navbar-brand" style="font-size:2rem;font-weight:bold;color: #f4623a;" th:href="@{/}">BODY FIT</a>
			<div th:if="${param.error}" class="alert alert-danger" role="alert">
            Invalid username and password.
	        </div>
	        <div th:if="${param.logout}" class="alert alert-primary" role="alert">
	            You have been logged out.
	        </div>
			<div class="form-floating">
				<input type="email" class="form-control mt-4" name="email" id="email"
					placeholder="이메일을 입력해주세요." required> <label for="email">Email
					address</label>
			</div>
			<div class="form-floating">
				<input type="text" class="form-control" name="nickname"
					id="nickname" placeholder="비밀번호를 입력해주세요." required> <label
					for="nickname">Nickname</label>
			</div>
			<div class="form-floating">
				<input type="password" class="form-control" name="password"
					id="password" placeholder="비밀번호를 입력해주세요." required> <label
					for="password">Password</label>
			</div>
			<button class="w-100 btn btn-lg fw-bolder mb-1" style="background-color: #ffc107;color:#ffffff;"type="submit">회원가입</button>
			<p class="mt-5 mb-3 text-muted">© 2017–2021</p>
		</form>
	</main>
</body>
</html>