<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/mainlayout}">
<head>
<section layout:fragment="content">
<!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">You will start dieting "TODAY"</h1>
                        <hr class="divider">
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">인바디 검사를 통한 다이어트 계획 수립</p>
                        <a class="btn btn-primary btn-xl" th:href="@{/inbody/main}">인바디 테스트</a>
                    </div>
                </div>
            </div>
        </header>  
        
        </section>
</html>