<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인바디</title>
    <link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
		crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;400&display=swap" rel="stylesheet">
	<!-- link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet" -->
	<link th:href="@{/css/styles.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/custombootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/animation.css}">
    <link rel="stylesheet" th:href="@{/css/inbody.css}">
    <link rel="stylesheet" th:href="@{/css/prism-okaidia.css}">
    <link rel="stylesheet" th:href="@{/css/custom.min.css}">

</head>
<body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav"  >
            <div class="container">
                <a class="navbar-brand" th:href="@{/}" >BODY FIT</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            </div>
        </nav>
    <div class="container">
        <section id="main" class="mx-auto">
            <button type="button" class="btn-text btn btn-lg mx-auto" onclick="js:goOne()">검사 시작하기</button>
        </section>
        <form th:action="@{/inbody/register}" method="POST" class="inbodyForm" th:object="${inbodyDTO}">
        <input type="hidden" name="email" th:value="${loginUser.email}" >
        <section id="q1">
            <h2 class="qBox my-5 py-3 mx-auto">1. 성별과 나이를 입력해주세요.</h2>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="inbody-text btn-check" value="남" name="gender" id="man" autocomplete="off">
              <label class="inbody-text btn btn-outline-primary" style="font-size:3rem;" for="man">남자</label>
              <input type="radio" class="inbody-text btn-check" value="여" name="gender" id="woman" autocomplete="off">
              <label class="inbody-text btn btn-outline-primary" style="font-size:3rem;" for="woman">여자</label>
            </div>
            <div class="form-group row my-5 py-3 justify-content-center">
              <div class="col-3">
                <input class="form-control form-control-lg text-center" min="1" max="100" type="number" name="age" id="age" required/>
              </div>
              <label class="inbody-text col-1 col-form-label" for="age">세</label>
            </div>
            <button type="button" class="btn btn-lg" onclick="js:backMain()">&#10094;</button>
        	<button type="button" class="btn btn-lg" onclick="js:goTwo()">&#10095;</button>
        </section>
        <section id="q2">
            <h2 class="qBox my-5 py-3 mx-auto">2. 키와 몸무게를 입력해주세요.</h2>
            <div class="form-group row my-5 py-3 justify-content-center">
              <div class="col-3">
                <input class="form-control form-control-lg text-center" min="1" max="200" step="0.1" type="number" name="height" id="height" required/>
              </div>
              <label class="inbody-text col-1 col-form-label" for="age">cm</label>
            </div>
            <div class="form-group row my-5 py-3 justify-content-center">
              <div class="col-3">
                <input class="form-control form-control-lg text-center" min="1" max="100" step="0.1" type="number" name="weight" id="weight" required/>
              </div>
              <label class="inbody-text col-1 col-form-label" for="age">kg</label>
            </div>
            <button type="button" class="btn btn-lg" onclick="js:backOne()">&#10094;</button>
        	<button type="button" class="btn btn-lg" onclick="js:goThree()">&#10095;</button>
        </section>
        <section id="q3">
            <h2 class="qBox my-5 py-3 mx-auto">3. 현재 체지방률을 입력해주세요.</h2>
            <input type="range" min="1" max="100" step="0.1" value="10" oninput="document.getElementById('currentFatRate').value=this.value;"/>
            <div class="form-group row my-5 py-3 justify-content-center">
              <div class="col-3">
                <input class="form-control form-control-lg text-center" min="1" max="100" type="text" name="currentFatRate" id="currentFatRate" required/>
              </div>
              <label class="col-1 col-form-label inbody-text" for="age">%</label>
            </div>
            <button type="button" class="btn btn-lg" onclick="js:backTwo()">&#10094;</button>
        	<button type="button" class="btn btn-lg" onclick="js:goFour()">&#10095;</button>
        </section>
        <section id="q4">
            <h2 class="qBox my-5 py-3 mx-auto">4. 목표 체지방률을 입력해주세요.</h2>
            <input type="range" min="1" max="100" step="0.1" value="10" oninput="document.getElementById('targetFatRate').value=this.value;"/>
            <div class="form-group row my-5 py-3 justify-content-center">
              <div class="col-3">
                <input class="form-control form-control-lg text-center " min="1" max="100" type="text" value="20" name="targetFatRate" id="targetFatRate" required/>
              </div>
              <label class="col-1 col-form-label inbody-text" for="age">%</label>
            </div>
            <button type="button" class="btn btn-lg" onclick="js:backThree()">&#10094;</button>
        	<button type="button" class="btn btn-lg" onclick="js:goFive()">&#10095;</button>
        </section>
        <section id="q5">
            <h2 class="qBox mb-5 py-3 mx-auto">5. 평소 운동량을 선택해주세요.</h2>
            <div class="btn-group-vertical" style="width:60%;">
              <input type="radio" class="btn-check " name="exercise" value="1" id="1" autocomplete="off" >
              <label class="inbody-text btn btn-outline-primary" style="font-size:1.5rem;" for="1">거의 안 함</label>
              <input type="radio" class="btn-check" name="exercise" value="2" id="2" autocomplete="off" >
              <label class="inbody-text btn btn-outline-primary" style="font-size:1.5rem;" for="2">하루 1-2시간</label>
              <input type="radio" class="btn-check" name="exercise" value="3" id="3" autocomplete="off" >
              <label class="inbody-text btn btn-outline-primary" style="font-size:1.5rem;" for="3">힘든 육체 노동</label>
              <input type="radio" class="btn-check" name="exercise" value="4" id="4" autocomplete="off">
              <label class="inbody-text btn btn-outline-primary" style="font-size:1.5rem;" for="4">전문 운동 선수</label>
            </div>
            <div class="my-5">
            <button type="button" class="btn btn-lg" onclick="js:backFour()">&#10094;</button>
        	<button type="button" class="btn btn-lg" onclick="js:goSix()">&#10095;</button>
        	</div>
        </section>
        <section id="q6">
            <h2 class="qBox mb-5 py-3 mx-auto">6. 다이어트 타입을 선택해주세요.</h2>
            <div class="btn-group-vertical" style="width:60%;">
              <input type="radio" class="inbody-text btn-check" name="dietType" value="A" id="A" autocomplete="off" >
              <label class="inbody-text btn btn-outline-primary" style="font-size:1.5rem;" for="A">A.체중유지</label>
              <input type="radio" class="inbody-text btn-check" name="dietType" value="B" id="B" autocomplete="off" >
              <label class="inbody-text btn btn-outline-primary" style="font-size:1.5rem;" for="B">B.완만한 체중 감소</label>
              <input type="radio" class="inbody-text btn-check" name="dietType" value="C" id="C" autocomplete="off" >
              <label class="inbody-text btn btn-outline-primary" style="font-size:1.5rem;" for="C">C.빠른 체중 감소</label>
              <input type="radio" class="inbody-text btn-check" name="dietType" value="D" id="D" autocomplete="off">
              <label class="inbody-text btn btn-outline-primary" style="font-size:1.5rem;" for="D">D.완만한 체중 증가</label>
            </div>
            <div class="my-5">
            <button type="button" class="btn btn-lg" onclick="js:backFive()">&#10094;</button>
        	<button type="button" class="btn btn-lg" onclick="js:goSeven()">&#10095;</button>
        	</div>
        </section>
        <section id="q7">
            <h2 class="qBox my-5 py-3 mx-auto">7. 목표 기간을 입력해주세요.</h2>
            <div class="form-group row my-5 py-3 justify-content-center">
              <div class="col-3">
                <input class="form-control form-control-lg text-center" min="1" max="52" type="number" name="period" id="period" required/>
              </div>
              <label class="col-1 col-form-label inbody-text" for="period">주</label>
            </div>
            <button type="button" class="btn btn-lg" onclick="js:backSix()">&#10094;</button>
        	<button type="submit" class="btn btn-lg">결과보기</button>
        </section>
        </form>
    </div>
	<script th:src="@{/js/start.js}"></script>
</body>
</html>
