<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인바디</title>
    <link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
		crossorigin="anonymous">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/default.css">
    <link rel="stylesheet" href="./css/animation.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/qna.css">
    <link rel="stylesheet" href="./css/result.css">
    <link rel="stylesheet" href="./css/prism-okaidia.css">
    <link rel="stylesheet" href="./css/custom.min.css">
</head>
<body>
    <div class="container">
        <section id="q1">
            <h2 class="qBox mb-5 py-3 mx-auto">5. 평소 운동량을 선택해주세요.</h2>
            <div class="btn-group-vertical" style="width:60%;">
              <input type="radio" class="btn-check" name="btnradio" id="grade1" autocomplete="off" checked="">
              <label class="btn btn-outline-primary" style="font-size:1.5rem;" for="grade1">거의 안 함</label>
              <input type="radio" class="btn-check" name="btnradio" id="grade2" autocomplete="off" checked="">
              <label class="btn btn-outline-primary" style="font-size:1.5rem;" for="grade2">하루 1-2시간</label>
              <input type="radio" class="btn-check" name="btnradio" id="grade3" autocomplete="off" checked="">
              <label class="btn btn-outline-primary" style="font-size:1.5rem;" for="grade3">힘든 육체 노동</label>
              <input type="radio" class="btn-check" name="btnradio" id="grade4" autocomplete="off" checked="">
              <label class="btn btn-outline-primary" style="font-size:1.5rem;" for="grade4">전문 운동 선수</label>
            </div>
        </section>
        <script src="./js/jquery.min.js" charset="utf-8"></script>
        <script src="./js/data.js" charset="utf-8"></script>
        <script src="./js/start.js" charset="utf-8"></script>
        <script src="./js/prism.js" charset="utf-8"></script>
        <script src="./js/custom.js" charset="utf-8"></script>
    </div>
</body>
</html>
